.git
.github
.gitignore
.gitattributes
.editorconfig
.styleci.yml
node_modules
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.backup
.env.docker
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db
tests
documentation
README.md
DOCKER_DEPLOYMENT.md
docker-compose.yml
*.md
